<h1>New restaurant</h1>

<% if @restaurant.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "form", restaurant: @restaurant %>
